{% extends 'base.html' %}
{% block meta %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/code.js' ) }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



{% endblock %}
{% block header%}
    <div class="slideshow">
        <ul class="slider">
        </ul>
        <div class="left">
            <span>
                <p>
                    <i class='far'>&#xf191;</i>
                </p>
            </span>
        </div>
        <div class="right">
            <span>
                <p>
                    <i class='far'>&#xf152;</i>
                </p>
            </span>
        </div>
    </div>
    <script>
        AOS.init();
    </script>
{% endblock %}
{% block contenido %}



    <div class="container " data-aos="fade-up">
        <div class="row align-items-center justify-content-center " style="height: 150px; background: linear-gradient(#FFFFFF, #000000);	 border-radius: 1%;">
            <div class="col-2 p-3 m-3 d-flex flex-wrap justify-content-around " > 

                    <input class="form-control" id="number"  type="number" step="1" value="3">
            </div>
                <button><i class='fas fa-redo'></i>

        </div>
        <div  class="container d-flex flex-wrap " >
            <div id="imgs" class="col h-100 p-3 d-flex flex-wrap justify-content-around"> 
            </div>
            
        </div>
        <div id="copyright" class="text-ligth d-flex justify-content-end">
            NotCelis&copy; 2021 - Celis Vargas Isaac - puked code
        </div>

    </div>
    

{% endblock %}
{% block footer %}
 
{% endblock %}

